*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(https://images.pexels.com/photos/125457/pexels-photo-125457.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-repeat: no-repeat;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.container h1{
  color: white;
}
